.p1,.p3{
  color:green;
}
.p2,.p4{
  color:blue;
}
div{background-color:blue;
width:100px;
}
.div1 p{
  color:purple;
}
.groupings{position: fixed;
top: 50px;
width: 150px;
background-color:red;
color:blue;
}
